---
let arr = [];
let i = 0;
while (i < 100) {
  arr.push(i);
  i++;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <div id="progress"></div>
    <p>content to be scrolled</p>
    {arr.map((i) => <p>{i}</p>)}
  </body>
  <style>
    :root {
      --blue: oklab(70% -0.09 -0.23);
      --purple: oklab(70% 0.09 -0.18);
      --orange: oklab(80% 0.15 0.12);
      --pink: oklab(80% 0.22 0.02);
    }
    @keyframes grow-progress {
      0% {
        transform: scaleX(0.01);
        background-image: linear-gradient(
          to right in oklab,
          var(--pink) 1%,
          var(--pink) 100%
        );
      }
      25% {
        background-image: linear-gradient(
          to right in oklab,
          var(--pink) 50%,
          var(--orange) 100%
        );
      }
      50% {
        background-image: linear-gradient(
          to right in oklab,
          var(--pink) 30%,
          var(--orange) 75%,
          var(--purple) 100%
        );
      }
      75% {
        background-image: linear-gradient(
          to right in oklab,
          var(--pink) 20%,
          var(--orange) 50%,
          var(--purple) 90%
        );
      }

      100% {
        transform: scaleX(1);
        background-image: linear-gradient(
          to right in oklab,
          var(--pink) 10%,
          var(--orange) 40%,
          var(--purple) 80%,
          var(--blue) 100%
        );
      }
    }
    #progress {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 1em;

      transform-origin: 0 99%;
      animation: grow-progress auto linear;
      animation-timeline: scroll();
    }
  </style>
</html>
